/* ////////////////////////////////////////////////////////////////////////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////MAIN ///////*/
.main-back {
  position: absolute;
  z-index: 888;
  width: 100%;
  height: 100vh;
  background-color: rgb(21, 21, 22);
  animation: slideLeftOut 1s forwards;
}

.main-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #769389;
  overflow: hidden;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////NAV/////// */

.nav-container {
  display: flex;
  align-items: baseline;
  position: absolute;
  width: 90%;
  height: 90%;
  border: solid 2px black;
  border-radius: 0 50px 50px 0;
  background-color: #769389;
}

.nav-active {
  animation: slideLeftIn 1s forwards;
}

.nav-out {
  animation: slideLeftOut 1s forwards;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
  position: absolute;
  bottom: 0;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: 85vh;
  position: absolute;
  right: 20px;
}

a {
  font-size: 12vw;
  height: 10vw;
  color: rgb(0, 0, 0);
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: bottom;
  overflow: hidden;
}

a:hover {
  transform: skewX(-20deg);
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* /////// ASIDE /////// */
.aside-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -100%;
  width: 65%;
  height: 100vh;
  border-left: solid 2px black;
  background-color: rgb(21, 21, 22);
  display: none;
}

.aside-active {
  right: 0;
  display: flex;
}
/*/ ////// HOME/////// */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -100%;
  width: 95%;
  height: 90vh;
  border-radius: 50px 0 0 50px;
  border: solid 2px black;
  background-color: #769389;
}

.home-main {
  position: absolute;
  left: -3%;
  transform: rotate(-90deg);
}

.home-main-on {
  display: block;
  animation: blurIn 2s ease-in-out forwards;
}

.home-active {
  animation: slideRightIn 1s ease-out forwards;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: -100%;
  width: 90%;
  height: 90vh;
  animation: slideInBottom 1s ease-out forwards;
  animation-delay: 1s;
}

.home-content h3 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 8vw;
  height: 6vw;
  margin-bottom: 30px;
  overflow: hidden;
}
.home-content p {
  color: #000000;
  font-size: 1.5vw;
  font-family: "Montserrat", sans-serif;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////PROJECTS/////// */

.projects-background {
  position: absolute;
  z-index: 777;
  width: 100%;
  height: 100vh;
  background-color: #769389;
}

.projects-back {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 888;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(21, 21, 22);
  animation: slideRightIn 1s forwards;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -100%;
  width: 95%;
  height: 97vh;
  border: solid 2px black;
  border-radius: 0 0 50px 50px;
  background-color: #769389;
  animation: slideTopOut 2s forwards;
  animation-delay: 1s;
  overflow: hidden;
}
.projects-out {
  animation: slideOutRight 2s forwards;
  animation-delay: 1.5s;
}

.projects-c-out {
  animation: slideTopOut 2s forwards;
}

.projects-home-btn {
  position: absolute;
  left: -10%;
  transform: rotate(-90deg);
}
.projects-home-btn a {
  font-size: 10vw;
  height: 8vw;
}

.projects-links {
  position: absolute;
  right: 5%;
}

.projects-links p {
  font-size: 8vw;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.projects-links p:hover {
  transform: scale(1.01);
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* //////RESUME////// */

.resume-container {
  position: absolute;
  left: 0;
  top: -100%;
  margin-left: 5vw;
  width: 100px;
  height: 85vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.resume-container-active {
  animation: slideTopIn 1s forwards;
  z-index: 999;
}

.resume-container-out {
  animation: slideCTopOut 1s forwards;
  z-index: 777;
}

.resume-container a {
  all: unset;
  position: absolute;
  display: flex;
  align-items: center;
  width: 10vw;
  height: 85vh;
  padding-bottom: 10%;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  background-color: rgb(21, 21, 22);
  color: #769389;
  border: 2px solid black;
}
.cv-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(21, 21, 22);
}

.cv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5%;
  background-color: #769389;
}
.my-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: auto;
  margin: 5%;
}
.my-cv iframe {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

/*/////// CONTACT//////// */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  position: absolute;
  left: -100%;
  top: 40%;
  z-index: 999;
  width: 20%;
  height: 100px;
}
.contact-active {
  animation: slideLeftIn 1s forwards;
}

.contact-out {
  animation: slideLeftOut 1s forwards;
  z-index: 777;
}

.text-copied {
  padding: 2px;
  background-color: rgb(21, 21, 22);
  color: #769389;
  border-radius: 50px;
  border: solid 2px black;
  margin-bottom: 5px;
}

.contact-container button {
  text-align: right;
  padding-right: 10px;
  width: 100%;
  height: 40px;
  background-color: rgb(21, 21, 22);
  color: #769389;
  border: 2px solid black;
  cursor: pointer;
}
.contact-container button p:hover {
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.contact-container button p:hover {
  transform: translateY(-5px);
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* MYX CONTAINER  */

.myx-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: -100%;
  z-index: 999;
  width: 80%;
  height: 97vh;
  border: solid 2px black;
  border-radius: 0 0 50px 0px;
  background-color: #3b7862;
}

.myx-container-activate {
  animation: slideRightIn 1s forwards;
}

.myx-container-out {
  animation: slideOutRight 1s forwards;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* COFFEESHOP  */

.cshop-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: -100%;
  right: 0;
  z-index: 999;
  width: 80%;
  height: 97vh;
  border: solid 2px black;
  border-radius: 0 0 50px 0px;
  background-color: rgb(78, 122, 81);
}

.cshop-container-activate {
  animation: slideTopOut 1s forwards;
}

.cshop-container-out {
  animation: slideCTopOut 1s forwards;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* PROJECT-SON */

.text-project-son {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 50%;
  padding-left: 7%;
  height: min-content;
}

.text-project-son h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5vw;
  height: 2.7vw;
  overflow: hidden;
  margin-bottom: 20px;
}
.project-son-description {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  width: 80%;
}
.languages {
  display: flex;
  align-items: center;
  width: 80%;
}
.languages p {
  margin-right: 10px;
}
.languages p i {
  font-size: 3vw;
}
.django-logo {
  width: 5vw;
}

.text-project-son a {
  all: unset;
  font-size: 20px;
  cursor: pointer;
  color: rgb(165, 215, 155);
}
.text-project-son a i {
  margin-left: 10px;
}

.project-son-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.project-son-img-container img {
  width: 25vw;
  height: 14vw;
  max-height: 200px;
  border: solid rgb(165, 215, 155) 2px;
  border-radius: 20px;
  margin-top: 30px;
}

.arrow-container {
  height: 7vh;
  margin-left: 2vw;
}

.close-arrow {
  margin-left: 5%;
  font-size: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.close-arrow:hover {
  transform: translateY(-5px);
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* ANIMATIONS */

@keyframes blurIn {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideRightIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes slideCTopOut {
  from {
    top: 0;
  }
  to {
    top: -105%;
  }
}
@keyframes slideOutRight {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

@keyframes slideLeftIn {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes slideLeftOut {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes slideTopIn {
  from {
    top: -100%;
  }
  to {
    top: -1%;
  }
}
@keyframes slideTopOut {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* BREAKPOINTS */

@media (max-width: 1000px) {
  .home-content p {
    font-size: 2vw;
  }

  .contact-container {
    top: 7%;
    width: 70%;
  }

  .myx-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
    overflow-y: scroll;
  }
  .cshop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
    overflow-y: scroll;
  }

  .text-project-son {
    top: 10%;
    width: 90%;
    padding-left: 0;
  }

  .text-project-son h3 {
    font-size: 6vw;
    height: 5vw;
    margin-bottom: 20px;
  }
  .project-son-description {
    font-size: 4vw;
    width: 100%;
  }
  .languages {
    width: 100%;
    padding-top: 10px;
  }
  .languages p {
    margin-right: 10px;
  }
  .languages p i {
    font-size: 7vw;
  }
  .django-logo {
    width: 9vw;
  }

  .text-project-son a {
    font-size: 3vw;
    margin-bottom: 10px;
  }
  .text-project-son a i {
    margin-left: 10px;
  }

  .project-son-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .project-son-img-container img {
    width: 60vw;
    height: 30vw;
    max-height: none;
    margin-top: 10px;
  }

  .arrow-container {
    margin-top: 5%;
    margin-bottom: 50px;
  }

  .close-arrow {
    font-size: 6vw;
  }
}

@media (max-width: 600px) {
  .home-content p {
    font-size: 4vw;
  }

  .resume-container {
    margin-left: -2%;
  }

  .myx-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .cshop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .text-project-son {
    position: static;
    width: 90%;
  }

  .text-project-son h3 {
    font-size: 10vw;
    height: 8vw;
    margin-bottom: 20px;
  }
  .project-son-description {
    font-size: 6vw;
    width: 100%;
  }

  .django-logo {
    width: 15vw;
  }

  .text-project-son a {
    font-size: 5vw;
    margin-top: 10px;
  }
  .text-project-son a i {
    margin-left: 10px;
  }

  .languages {
    width: 100%;
  }
  .languages p {
    margin-right: 10px;
  }
  .languages p i {
    font-size: 15vw;
  }
  .django-logo {
    width: 20vw;
  }

  .project-son-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    width: 50%;
  }

  .project-son-img-container img {
    width: 70vw;
    height: 35vw;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .cv-background {
    align-items: start;
  }

  .cv-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #769389;
  }
  .my-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
  }

  /* .project-son-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .project-son-cshop {
    position: static;
    width: 90%;
    height: fit-content;
  }

  .project-son-cshop h3 {
    font-size: 5vw;
    height: 4vw;
    margin-bottom: 20px;
  }
  .project-son-description {
    font-size: 3vw;
    width: 100%;
  }


  .text-project-son a {
    font-size: 4vw;
    margin-top: 40px;
  }
  .text-project-son a i {
    margin-left: 10px;
  }

  .project-son-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    width: 50%;
    margin-bottom: 20px;
  }

  .project-son-img-container img {
    width: 33vw;
    height: 17vw;
    margin-top: 5px;
  }

  .close-arrow {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 4vw;
  } */
}
@media (max-width: 450px) {
  .project-son-img-container img {
    margin-top: 10px;
  }
  .project-son-img-container img {
    width: 70vw;
    height: 35vw;
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  .home-content {
    overflow: scroll;
    width: 90%;
  }
  .home-content h3 {
    font-size: 8vw;
  }
  .home-content p {
    font-size: 4vw;
  }

  .resume-container {
    margin-left: -5%;
    height: 10vh;
  }
  .resume-container a {
    height: 60vh;
  }

  .contact-container {
    width: 80%;
  }

  .project-son-description {
    font-size: 5vw;
  }

  .arrow-container {
    margin-bottom: 20px;
  }
}
